<div class="container">
  <h1> Bookings For Your Listed Relics:</h1>
  <% @my_goods.each do |good| %>

        <div class="card mt-3" style="width: 100%;">

          <div class="container card-img-top py-4 ms-3 d-flex">
            <%= cl_image_tag good.photo.key, height: 300, width: 400, crop: :fill, class: "m-3" %>
            <div class="card-body">
              <h2 class="card-title"><%= good.name %></h2>
              <p class="card-text"><%= good.description %></p>
              <p>Price: <strong><%= good.price %></strong> Silver Stags</p>
             </div>
          </div>

             <div>
              <div class="container">

            <ol class="ms-0">
            <li class="d-flex justify-content-around p-3">
                <p> Dates</p>
                 <p>Status</p>
              </li>
            <% good.bookings.each do |booking| %>
              <li class="d-flex justify-content-around p-3">
                <p> Dates: <%= booking.start_date %> - <%= booking.end_date %></p>
                <% if booking.pending? %>
                  <%= link_to 'Accept', accept_booking_path(booking),  class: 'btn btn-info' %>
                  <%= link_to 'Decline', decline_booking_path(booking),  data: { confirm: 'Are you sure you want to decline this booking?' }, class: 'btn btn-info '%>
                  <% else %>

                  <p>Status: <%= booking.status %></p>
                <% end %>
              </li>
                <hr>
               <% end %>
              </div>
            <% if good.bookings.empty? %>
              <p>No bookings made for this relic yet.</p>
            <% end %>
            </ol>
          </div>
        </div>
    <!--  </div>
    </div>-->
  <% end %>
</div>
