<div class="container">
  <h1> Bookings For Your Listed Relics:</h1>
  <% @my_goods.each do |good| %>

        <div class="card mt-3" style="width: 100%;">

          <div class="container card-img-top py-4 ms-3 d-flex">
            <%= cl_image_tag good.photo.key, height: 300, crop: :fill, class: "m-3" %>
            <div class="card-body">
              <h2 class="card-title"><%= good.name %></h2>
              <p class="card-text"><%= good.description %></p>
              <p>Price: <strong><%= good.price %></strong> Silver Stags</p>
             </div>
          </div>

             <div class="item">
              <div class="container">
              <table class="table">
               <thead>
                 <tr>
                  <th scope="col">Client</th>
                  <th scope="col">Dates</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
  <tbody>
    <tr>
    <% good.bookings.each do |booking| %>

      <td><%= booking.user.first_name %> <%= booking.user.last_name %></td>
      <td><%= booking.start_date.strftime("%d %b %Y")%> - <%= booking.end_date.strftime("%d %b %Y")%></td>
      <td> <% if booking.pending? %>
                  <%= link_to 'Accept', accept_booking_path(booking),  class: 'btn btn-info' %>
                  <%= link_to 'Decline', decline_booking_path(booking),  data: { confirm: 'Are you sure you want to decline this booking?' }, class: 'btn btn-info '%>
                  <% else %>

                  <%= booking.status %>
                <% end %>
                </td>
    </tr>
    <% end %>


  </tbody>
</table>



              </div>
            <% if good.bookings.empty? %>
              <p>No bookings made for this relic yet.</p>
            <% end %>
            </ol>
          </div>
        </div>
    <!--  </div>
    </div>-->
  <% end %>
</div>
