
<div class="new-good-container">
<h1 class="mb-4">Add your Relic</h1>
<%= simple_form_for(@good) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.input :description%>
  <%= f.input :price %>
  <%= f.submit value:"Create Relic", class: "btn btn-wheat" %>
<% end %>
</div>

