<div class="container">

  <div class="card" style="width: 27rem;">
    <div class="container card-img-top py-4 ms-1">
      <%= cl_image_tag @good.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
      <div class="card-body">
        <h1 class="card-title"><i><%= @good.name %></i></h1>
        <br>
          <h3 class="card-text"><%=@good.description%></h3>
        <br>
          <h4>Price: <strong><%=@good.price%></strong> silver stags</h4>
      </div>
  </div>
</div>
<br>
<div class="container">





  <% if @good.user == current_user %>

  <% else%>
    <div class="btn btn-success">
      <%= link_to "Book Relic!", new_good_booking_path(@good) %>
      </div>
  <% end %>

</div>
