<div class="good-container d-flex justify-content-between" style="width: 65rem;">
  <div class="card " style="width: 27rem;">
    <div class="container card-img-top py-4 ms-1">
      <%= cl_image_tag @good.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
      <div class="card-body">
        <h2 class="card-title"><i><%= @good.name %></i></h2>
        <br>
          <p class="card-text"><%=@good.description%></p>
        <br>
          <p>Price: <i><%=@good.price%></i> silver stags</p>
      </div>
  </div>
  <% if @good.user == current_user %>
  <% else%>
    
        <div class="show-container ">
          <h4>New booking</h4>

          <%= simple_form_for [@good, @booking] do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <p> Price per day is <%= @good.price %> </p>
            <%= f.submit "Submit booking", class: "btn btn-wheat" %>
          <% end %>
    <div class="listedby d-flex justify-content-around p-5 " >
      <h3>Listed By:</h3>
        <div class="text-center">
          <%= cl_image_tag @good.user.photo.key, class: "avatar", alt: "dropdown menu" %>
          <p> <%= @good.user.first_name %></p>
        </div>
    </div>
  <% end %>
        </div>
</div>
<br>

<div class="container">
</div>

